@using MyEveryNoteProject.WebApp.ViewModels
@model WarningOperationsViewModel

@{
    ViewBag.Title = Model.title;
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/Fontawesome/css/all.css" rel="stylesheet" />
    <script src="~/Content/Fontawesome/js/all.js"></script>
</head>
<body style="background-image:url(/images/art.jpg)">
    <div class="container" style="margin-top:20%;">
        <div class="card text-center">
            <div class="card-header" style="background-color:gold;">
                <b style="color:dimgray;">@Model.Header</b>
            </div>
            <div class="card-body" style="background-color:palegoldenrod;">
                <h5 class="card-title" style="color:orange;"><i class="fas fa-exclamation-triangle"></i> @Model.title</h5>
                @foreach (string msg in Model.Items)
                {
                    <p class="card-text" style="color:goldenrod;"><b><i class="fas fa-exclamation-circle"></i> @msg</b></p>
                }
                <p class="btn btn-warning" style="color:antiquewhite;">@Model.RedirectionMessage</p>
            </div>
            <div class="card-footer text-muted" style="background-color:gold;">

            </div>
        </div>
    </div>

    @{
        string js = string.Empty;

        if (Model.IsRedirecting == true)
        {
            js = " setTimeout(function () {window.location = '" + Model.RedirectingUrl + "';}, " + Model.RedirectingTimeout + ");";
        }
    }

    <script>
        $(function ()
        {
            @Html.Raw(js);
        });
    </script>

</body>
</html>
