
@helper DefaultLinkButton(string url = "", string color = "", string additionalClass = "", string title = "", string icon = "", string text = "")
{

    <a href="@url" class="btn btn-@color @additionalClass" title="@title"><i class="@icon" title="Edit"></i> @text</a>

}


@helper DefaultLinkButton(string id = "", string url = "", string color = "", string additionalClass = "", string title = "", string icon = "", string text = "")
{

    <a href="@url" id="@id" name="@id" class="btn btn-@color @additionalClass" title="@title"><i class="@icon" title="Edit"></i> @text</a>

}


@helper OutlineLinkButton(string url = "", string color = "", string additionalClass = "", string title = "", string icon = "", string text = "")
{

    <a href="@url" class="btn btn-outline-@color @additionalClass" title="@title"><i class="@icon" title="Edit"></i> @text</a>

}


@helper OutlineLinkButton(string id = "", string url = "", string color = "", string additionalClass = "", string title = "", string icon = "", string text = "")
{

    <a href="@url" id="@id" name="@id" class="btn btn-outline-@color @additionalClass" title="@title"><i class="@icon" title="Edit"></i> @text</a>

}


@helper DefaultButton(string id = "", string color = "", string additionalClass = "", string typ = "button", string icon = "", string text = "")
{


    <button id="@id" name="@id" type="@typ" class="btn btn-@color @additionalClass"><i class="@icon"></i> @text</button>

}


@helper DefaultButton(string color = "", string additionalClass = "", string typ = "button", string icon = "", string text = "")
{

    <button type="@typ" class="btn btn-@color @additionalClass"><i class="@icon"></i> @text</button>

}

@helper OutlineButton(string id = "", string color = "", string additionalClass = "", string typ = "button", string icon = "", string text = "")
{

    <button id="@id" name="@id" type="@typ" class="btn btn-outline-@color @additionalClass"><i class="@icon"></i> @text</button>

}


@helper OutlineButton(string color = "", string additionalClass = "", string typ = "button", string icon = "", string text = "")
{

    <button type="@typ" class="btn btn-outline-@color @additionalClass"><i class="@icon"></i> @text</button>

}

@helper MenuLink(string url = "", string color = "white", string icon = "", string fontsize = "large", string marginright = "3px", string text = "")
{

    <a class="nav-link" href="@url" onclick="scrollToDownload()" style="color:@color;">
        <i class="@icon" style="font-size:@fontsize;margin-right:@marginright;"></i> @text.ToUpper()
    </a>

}

@helper ModalPopup(string id = "myModal", string title = "Modal Title", bool CloseButton = true, bool OptionalButton = false, string OptionalButtonText = "Optional", string mheadercolor = "whitesmoke", string mbodycolor = "whitesmoke", string mfootercolor = "whitesmoke", string btnmargin = "")
{
    <!-- Modal -->
    <div class="modal fade" id="@id" name="@id" tabindex="-1" role="dialog" aria-labelledby="@(id+"_label")" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" id="@(id+"_header")" style="background-color:@mheadercolor;">
                    <h5 class="modal-title" id="@(id+"_label")" style="color:whitesmoke;">@title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="@(id+"_body")" style="background-color:@mbodycolor;">

                </div>
                <div class="modal-footer" id="@(id+"_footer")" style="background-color:@mfootercolor;">
                    @if (CloseButton == true)
                    {
                        <button type="button" class="btn btn-secondary" style="margin-top:@btnmargin;" data-dismiss="modal">Close</button>
                    }
                    @if (OptionalButton == true)
                    {
                        <button type="button" class="btn btn-primary">@OptionalButtonText</button>
                    }
                </div>
            </div>
        </div>
    </div>
}




@helper ModalPopupImage(string id = "myModal", string title = "Modal Title", bool CloseButton = true, bool OptionalButton = false, string OptionalButtonText = "Optional", string mheadercolor = "whitesmoke", string mbodycolor = "whitesmoke", string mfootercolor = "whitesmoke", string btnmargin = "")
{
    <!-- Modal -->
    <div class="modal fade" id="@id" name="@id" tabindex="-1" role="dialog" aria-labelledby="@(id+"_label")" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" id="@(id+"_header")" style="background-color:@mheadercolor;">
                    <h5 class="modal-title" id="@(id+"_label")" style="color:whitesmoke;">@title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="@(id+"_body")" style="background-color:@mbodycolor;">
                    <img id="image_view_id" src="" class="card-img-top" alt="...">
                </div>
                <div class="modal-footer" id="@(id+"_footer")" style="background-color:@mfootercolor;">
                    @if (CloseButton == true)
                    {
                        <button type="button" class="btn btn-secondary" style="margin-top:@btnmargin;" data-dismiss="modal">Close</button>
                    }
                    @if (OptionalButton == true)
                    {
                        <button type="button" class="btn btn-primary">@OptionalButtonText</button>
                    }
                </div>
            </div>
        </div>
    </div>
}



@helper toaster_process_message(bool action_status, string message)
{
    <script>

        @if (action_status == true) {
            @:toastr.success('@message')

        }
        else {
            @:toastr.error('@message')

        }

    </script>
}

