@model MyEveryNoteProject.Entities.EveryNoteUser
@using MyEveryNoteProject.WebApp
@{
    //Layout = "~/Views/Shared/_BackgroundLayout.cshtml";
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
}


<div class="container">


    <div class="jumbotron" style="background-color:khaki;">
        <h1 class="display-3 text-danger">Delete User</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <div>
           
            <dl class="dl-horizontal">
                <dt>
                    <label class="text-danger">@Html.DisplayNameFor(model => model.Name)</label>
                </dt>

                <dd>
                    <label> @Html.DisplayFor(model => model.Name)</label>
                </dd>

                <dt>
                    <label class="text-danger">@Html.DisplayNameFor(model => model.Surname)</label>
                </dt>

                <dd>
                    <label>@Html.DisplayFor(model => model.Surname)</label>
                </dd>

                <dt>
                    <label class="text-danger">@Html.DisplayNameFor(model => model.Username)</label>
                </dt>

                <dd>
                    <label>@Html.DisplayFor(model => model.Username)</label>
                </dd>

                <dt>
                    <label class="text-danger">@Html.DisplayNameFor(model => model.Email)</label>
                </dt>

                <dd>
                    <label>@Html.DisplayFor(model => model.Email)</label>
                </dd>

                <dt>
                    <label class="text-danger">@Html.DisplayNameFor(model => model.Password)</label>
                </dt>

                <dd>
                    <label>@Html.DisplayFor(model => model.Password)</label>
                </dd>

                <dt>
                    <label class="text-danger">@Html.DisplayNameFor(model => model.IsActive)</label>
                </dt>

                <dd>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>@Html.DisplayFor(model => model.IsActive)</label>
                </dd>

                <dt>
                    <label class="text-danger">@Html.DisplayNameFor(model => model.IsAdmin)</label>
                </dt>

                <dd>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>@Html.DisplayFor(model => model.IsAdmin)</label>
                </dd>

                <dt>
                    <label class="text-danger">@Html.DisplayNameFor(model => model.CreatedOn)</label>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedOn)<label></label>
                </dd>

                <dt>
                    <label class="text-danger">@Html.DisplayNameFor(model => model.ModifiedOn)</label>
                </dt>

                <dd>
                    <label>@Html.DisplayFor(model => model.ModifiedOn)</label>
                </dd>

                <dt>
                    <label class="text-danger">@Html.DisplayNameFor(model => model.ModifierUser)</label>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ModifierUser)<label></label>
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    @BootstrapHelper.DefaultButton("warning", "btn-sm", "submit", "fas fa-trash-alt", "Delete")
                    @BootstrapHelper.DefaultLinkButton("/EveryNoteUser/Index/", "info", "btn-sm", string.Empty, "far fa-arrow-alt-circle-left", "Back to List")
                </div>
            }
        </div>
    </div>


</div>

